html,
body {
  position: relative;
  min-height: 100vh;
  background-color: #293241;
}

a {
  text-decoration: none !important;
}

.main-container {
  padding-bottom: 800px;
  margin-top: 30px;
}

.btn {
  color: black;
  background-color: #e0fbfc;
  border-color: #e0fbfc;
  box-shadow: 0, 5, 20, black;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border: none;
}

.delete-btn {
  background-color: #ee6c4d;
}

.btn:hover {
  background-color: #98c1d9 !important;
  color: black;
}

.btn:active {
  background-color: #98c1d9 !important;
  color: black;
}

.btn:focus {
  background-color: #98c1d9 !important;
  color: black;
}

.show > .btn-primary.dropdown-toggle {
  background-color: #98c1d9 !important;
  color: black;
}

@media all and (min-width: 768px) {
  .main-container {
    padding-bottom: 350px;
  }
}
